body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #398AB9; 
  color:#EEEEEE ;
}

header {
  text-align: center;
  background-color:#1C658C;
}

footer {
  background-color: #9c9c9c;
  text-align: center;
}
#sidebar{
    width: 100%;
    background-color: #1C658C;    
}

.navMenu{
    background-color: #1C658C;
}

img {
      border-radius: 50%;
}